
#nav-logo-menu-2 .bg-wrap {
	background: #000000;
}#contact-text-form .bg {
	background-image: url('../images/Intregity.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom right;
	opacity: 0.15;
}
#footer-logo-text .bg {}
#footer-logo-text-social .bg-wrap {
	background: #000000;
}