
#nav-logo-menu-2 .bg-wrap {
	background: #000000;
}
#header-breadcrump .bg-wrap {
	background: radial-gradient(circle, #000000 30%, rgba(0, 0, 0, 0) 70%);
}#benefits-3col-5 .bg {
    background-image: url('../images/Decentralization.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:0.1;
}

#media-text-icon .bg {
    background-image: url('../images/bg-71.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.25;
}

#footer-logo-text-social .bg-wrap {
	background: #000000;
}