.banter-loader-container *, .banter-loader-container *:before, .banter-loader-container *:after {
    box-sizing: border-box;
}

.banter-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; /* 2 * $circleRadius; */
    height: 300px; /* 2 * $circleRadius; */
    position: relative;
    margin-left: auto;
    margin-right: auto;

}
.banter-loader-container .banter-loader {
    position: relative;
    width: 100%;
    height: 100%;
    
}

.banter-loader-container .banter-loader__box {
    position: absolute;
    width: 25px; /* $boxSize; */
    height: 25px; /* $boxSize; */
    background-color: #fff;
    border-radius: 20%;
    transform-origin: 50% 50%;
    transition: transform 1s linear, background-color 1s linear;
}


.banter-loader__box:nth-child(1) { transform: rotate(0deg) translate(100px) rotate(0deg); }
.banter-loader__box:nth-child(2) { transform: rotate(22.5deg) translate(100px) rotate(-22.5deg); }
.banter-loader__box:nth-child(3) { transform: rotate(45deg) translate(100px) rotate(-45deg); }
.banter-loader__box:nth-child(4) { transform: rotate(67.5deg) translate(100px) rotate(-67.5deg); }
.banter-loader__box:nth-child(5) { transform: rotate(90deg) translate(100px) rotate(-90deg); }
.banter-loader__box:nth-child(6) { transform: rotate(112.5deg) translate(100px) rotate(-112.5deg); }
.banter-loader__box:nth-child(7) { transform: rotate(135deg) translate(100px) rotate(-135deg); }
.banter-loader__box:nth-child(8) { transform: rotate(157.5deg) translate(100px) rotate(-157.5deg); }
.banter-loader__box:nth-child(9) { transform: rotate(180deg) translate(100px) rotate(-180deg); }
.banter-loader__box:nth-child(10) { transform: rotate(202.5deg) translate(100px) rotate(-202.5deg); }
.banter-loader__box:nth-child(11) { transform: rotate(225deg) translate(100px) rotate(-225deg); }
.banter-loader__box:nth-child(12) { transform: rotate(247.5deg) translate(100px) rotate(-247.5deg); }
.banter-loader__box:nth-child(13) { transform: rotate(270deg) translate(100px) rotate(-270deg); }
.banter-loader__box:nth-child(14) { transform: rotate(292.5deg) translate(100px) rotate(-292.5deg); }
.banter-loader__box:nth-child(15) { transform: rotate(315deg) translate(100px) rotate(-315deg); }
.banter-loader__box:nth-child(16) { transform: rotate(337.5deg) translate(100px) rotate(-337.5deg); }

@keyframes colorChange {
    0%, 100% { background-color: #fff; }
    50% { background-color: blue; }
}

@keyframes moveToCenter {
    0%, 100% { transform: translate(0, 0); }
    50% { transform: translate(-50%, -50%); }
}



